@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

button {
  cursor: pointer;
}